<app-header title="Información Personal" backIcon="yes"></app-header>

<ion-content fullscreen>
  <form class="form" [formGroup]="validations_form"  (ngSubmit)="saveChanges(validations_form.value)">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col offset-xl="5" size-xl="2" class="ion-no-padding">
          <ion-list>
            <ion-item>
              <ion-label position="stacked">Nombres</ion-label>
              <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.name">
                <div class="error-message ion-padding" *ngIf="validations_form.get('name').hasError(validation.type) && (validations_form.get('name').dirty || validations_form.get('name').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div >
            <ion-item>
              <ion-label position="stacked">Apellidos</ion-label>
              <ion-input type="text" formControlName="last_name"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.last_name">
                <div class="error-message ion-padding" *ngIf="validations_form.get('last_name').hasError(validation.type) && (validations_form.get('last_name').dirty || validations_form.get('last_name').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
            <ion-item>
              <ion-label position="stacked">Email</ion-label>
              <ion-input type="email" formControlName="email"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.email">
                <div class="error-message ion-padding" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
            <ion-item>
              <ion-label position="stacked" >Fecha de Nacimiento</ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY" 
                cancelText="Cancelar"
                doneText="Seleccionar"
                formControlName="dateNac"
              ></ion-datetime>
            </ion-item>
            <ion-radio-group formControlName="sex">
              <ion-list-header>
                <ion-label>Sexo</ion-label>
              </ion-list-header>
              <ion-item>
                <ion-label>Masculino</ion-label>
                <ion-radio slot="start" value="1" color="primary"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Femenino</ion-label>
                <ion-radio slot="start" value="0" color="primary"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col offset-xl="5" size-xl="2">
          <section>
            <ion-button type="submit" expand="block" [disabled]="!validations_form.valid">Guardar</ion-button>
          </section>
          <section>
            <label class="error-message">{{ errorMessage }}</label>
            <label class="success-message">{{ successMessage }}</label>
          </section>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
