<app-header title="Roles" backIcon="yes"></app-header>

<ion-content fullscreen>
  <ion-toolbar>
    <ion-searchbar pleaceholder="Buscar"></ion-searchbar>
  </ion-toolbar>
  <ion-list>
    <ion-item-sliding *ngFor="let item of roles">
      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="presentAlertConfirm(item)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
        <ion-item-option color="secondary" (click)="modalRole(item.key)">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item>
        <ion-label>
          <h2>{{ item.name }}</h2>
        </ion-label>
        <div *ngIf="item.state; else templateRole">
          <ion-chip color="success" >
            <ion-label>Activo</ion-label>
          </ion-chip>
        </div>
        <ng-template #templateRole>
          <ion-chip color="danger">
            <ion-label>Inactivo</ion-label>
          </ion-chip>
        </ng-template>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
<ion-footer class="ion-padding">
  <ion-button color="warning"  size="default" expand="block" (click)="modalRole(null)">
      <ion-icon slot="start" name="add"></ion-icon>
      Nuevo
  </ion-button>
</ion-footer>

